.coordinate {
  background-color: white;
  margin-top: 5px;
  height: 30px;
  position: relative;
  background-size: auto 30px;
}

.coordinate:last-of-type {
  margin-bottom: 5px;
}

.coordinate.isDefault:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 9px;
  height: 100%;
  background-image: url(./../../../../images/checkerboard.svg);
  background-size: 6px 6px;
}

.coordinate.canPlay {
  outline: 1px solid rgba(255, 255, 255, .8);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(255, 255, 255, 0.6);
}

.coordinate.nowPlaying {
  outline: 1px solid rgba(152, 251, 152, 1);
}

.coordinate.canClick:hover {
  outline: 1px solid rgba(86, 180, 239, 1);
  cursor: pointer;
}

.details {
  display: table-cell;
  vertical-align: middle;
  height: 30px;
  padding-left: 5px;
  color: white;
  /* simulated text stroke */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.coordinate.isDefault > .details {
  padding-left: 14px;
}

.details > span {
  display: block;
}

.jump {
  height: 100%;
  width: 2px;
  background-color: red;
  position: absolute;
}

.indicator {
  display: none;
  height: 100%;
  width: 2px;
  background-color: rgba(255, 74, 42, .75);
  position: absolute;
}

.coordinate.nowPlaying > .indicator {
  display: block
}

.coordinate.canClick:hover > .indicator {
  display: block;
  background-color: rgba(255, 255, 255, .6);
}