.angle {
  height: 50px;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.coordinates {
  position: relative;
}

.author {
  position: absolute;
  left: 2px;
  bottom: 2px;
  color: lightgray;
}