.progressContainer {
  flex: 1;
  flex-direction: row;
  background-color: rgba(0, 0, 0, .5);
}

.progressBar {
  position: relative;
  height: 10px;
}

.elapsed {
  background: rgba(240, 74, 42, 0.8);
  height: 100%;
}

.handle {
  position: absolute;
  width: 14px;
  height: 14px;
  background: rgb(255, 74, 42);
  border-radius: 100%;
  transform: scale(0);
  transition: transform 0.2s;
  top: 0;
  margin: -2px 0 0 -7px;
}

.progressBar:hover .handle {
  transform: scale(1);
}

.progressBar:hover .intent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.seek {
  position: absolute;
  cursor: pointer;
  top: -6px;
  right: 0;
  bottom: -6px;
  left: 0;
}
