.progressContainer {
  flex: 1;
  flex-direction: row;
  position: relative;
  background-color: rgba(0, 0, 0, .5);
}

.progressBar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 99, 71, .8);
}

.slider {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 4px solid rgba(255, 255, 255, .8);;
  margin-right: 4px;
}

.indicator {
  margin-left: -3px;
  border-left: dotted rgba(0, 0, 0, .5) 2px;
}