.header {
  z-index: 0;
  flex: 0 56px;
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 0 16px;
  align-items: center;
  height: 56px;
  box-shadow: -1px 1px 7px rgb(235, 235, 235);
}

.burger {
  font-size: 20px;
  margin: 0 16px 0 0;
  padding: 8px;
  color: var(--gray-light);
  border: none;
  background-color: transparent;
}

.burger:focus {
  outline: 0; /* TODO change to something else indicating focus */
}

.h1 {
  margin: 0 16px 0 0;
  color: var(--gray-dark);
  font-size: 3rem;
}